@{
    Layout = null;
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Profile.css" />
</head>
<body>
    <div id="proinfo">
        <i id="proimg"><input id="up" type="file"></i> &nbsp;<span id="uname">Mahesh Kantariya</span>
    </div>
    <div id="etable">
        <fieldset>
            <legend>Edit<input id="ed" onchange="dis()" type="checkbox"></legend>
            <label for='mail'>Email Address</label><br>
            <input id="mail" type="text" disabled><br><br>
            <label for='dob'>Date of Birth</label><br>
            <input id="dob" type="date" disabled><br><br>
            <label for="gender">Gender</label><br>
            <select id="gender" disabled>
                <br>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                <br>
            </select><br><br>
            <button id="but" type="submit">Save</button>
        </fieldset>
    </div>
    <script src="~/Scripts/jquery-latest.js"></script>
    <script>
        document.getElementById('ed').onchange = function() {

            $("#dob,#gender,#but").prop('disabled', !this.checked);
        };
    </script>
</body>
</html>
